<tr style="background: rgba(255, 255, 255, .15);">
    <td></td>
    <td>
        <div style="display: flex;">
            <p>Dictionary</p>
            <div type="button" class="add-dropdown-toggle centerChildren">
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
    </td>
    <td>
        <input type="text" name="path" value="{{path}}" />
    </td>
    <td></td>
    <td></td>
    <td>
        <button type="button" class="delete-button" data-id="id" title="Delete">
            <i class="fas fa-trash"></i>
        </button>
    </td>  
</tr>
<tr style="background: rgba(255, 255, 255, .3);">
    <td></td>
    <td colspan="2" class="centerChildren">
        <label>Path to value</label>
    </td>
    <td colspan="4">
        <div style="display: flex;">
            <input type="text" name="path" value="" style="width: 100px;"/>    
            <i>leave empty if unnested</i>
        </div> 
    </td>
</tr>