<div class="athena-table-row athena-collapsible-row" style="cursor: pointer;">
    <div class="athena-td1">
        <div class="centerChildren">
            <p>Dictionary</p>
            &emsp;<i class="fas fa-caret-down"></i>
        </div>
    </div>
    <div class="athena-td2">
        <input type="text" name="path" value="{{path}}" />
    </div>
    
    <div class="athena-delete-button-position">
        <button type="button" class="athena-button" tooltip="Delete">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>
<div class="athena-collapsible-row-content">
    <div class="additional-fields">
        <div class="athena-td1">
            &emsp;<p>Path to value</p>
        </div>
        <div class="centerChildren">
            &emsp;<input type="text" name="path" value="" style="width: 100px;"/>    
            &emsp;<i> Leave empty if unnested</i>
        </div>
        <div class="centerChildren" style="margin-left: auto;">
            <p>Test populate?</p>
            <button type="button" class="athena-button">
                <i class="fa-solid fa-rotate"></i>
            </button>
        </div> 
    </div>
    {{> "modules/athenas-movement-trail/templates/partials/testPopulate.hbs" path=manualPath label=label }}
</div>