<div class="athena-table-row">
    <div class="athena-td1">
        <p>Manual</p>
    </div>
    <div class="athena-td2">
        <input type="text" name="manualPath" value="{{manualPath}}" style="width: 240px;"/>
    </div>
    <div class="athena-td3">
        <input type="text" name="label" value="{{label}}" style="width: 100px;" />
    </div>
    <div class="centerChildren athena-td4">
        <input type="checkbox" id="something" value="default">
    </div>
    
    <button type="button" class="athena-delete-button" data-id="id" title="Delete">
        <i class="fas fa-trash"></i>
        </button>
    </td>  
</tr>  