
.centerChildren{
    display: flex;
    align-items: center;
    justify-content: center;;
}

.athena-table{
    width: 100%;
    border-top: 1px solid var(--color-border-light-tertiary);
    background: rgba(0, 0, 0, 0.05);
    margin: 0.5em;
    margin-top: 0;
}
.athena-table-header{
    font-weight: bold;
    display: flex;
}
.athena-table-row{
    background: rgba(255, 255, 255, .3);
    border-top: 1px solid #7a797152;
    display: flex;
}
.athena-td1{
    width: 150px;
    display: flex;
    justify-content:center;
    position: relative;
}
.athena-td2 input{
    width: 240px;
}
.athena-td2{
    width: 250px;
    align-self: center;
}
.athena-td3{
    width: 150px;
    align-self: center;
}
.athena-td4{
    width: 50px;
}
.athena-button{
    width: 33px;
    height: 30px; 
    background: none;
    border: none;
}
.athena-delete-button-position{
    margin-left: auto;
    padding-right: 20px;
}
.athena-collapsible-row-content{
    background: rgba(255, 255, 255, .45);
    border-top: none;
    padding-top: 2px; 
}
.athena-collapsible-row-content .additional-fields{
    display: flex;
}
.athena-settings-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.athena-submit-button{
    margin-top: auto;
}
.athena-dropdown-add-menu{
    display: flex;
    width: min-content;
    margin-left: 0.5em;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid var(--color-border-light-tertiary);
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.athena-dropdown-add-menu > * {
    padding-left: 5px;
    padding-right:5px;
}
.athena-dropdown-left{
    border-top-left-radius: 7px;
    padding-left: 5px;
}
.athena-dropdown-right{
    border-top-right-radius: 7px;
    padding-right: 5px;
}
.athena-dropdown-add-menu > *:hover {
   background-color: rgba(255, 255, 255, .5);
   cursor: pointer;
}
.athena-dropdown-add-menu-spacer{
    height : 33px;
}
.athena-td1 .with-caret{
    position:absolute
}
.athena-td1 .caret{
    margin-left: auto;
    margin-right:15px;;
}
.athena-rotated{
    transform: rotate(-90deg);
}
.athena-settings-form{
    min-height: 400px;
}
.athena-settings-explanation{
    
}